############## Spirit Configuration ##############



### Output Folders
output_file_tag    <time>
log_output_folder  .
llg_output_folder  output
mc_output_folder   output
gneb_output_folder output
mmf_output_folder  output
ema_output_folder  output

### Save input parameters on State creation/deletion
save_input_initial  0
save_input_final    0

### Save atom positions on State creation/deletion
save_positions_initial 0
save_positions_final   0

### Save exchange and DM neighbours on State creation/deletion
save_neighbours_initial 0
save_neighbours_final   0



################## Hamiltonian ###################

### Hamiltonian Type
### (heisenberg_neighbours, heisenberg_pairs, gaussian)
hamiltonian                heisenberg_pairs

### Boundary_conditions (a b c): 0(open), 1(periodical)
boundary_conditions        1 1 0

### External magnetic field vector[T]
external_field_magnitude   25.0
external_field_normal      0.0 0.0 1.0
### µSpin
mu_s                       2.0

### Uniaxial anisotropy constant [meV]
anisotropy_magnitude       0.0
anisotropy_normal          0.0 0.0 1.0

### Dipole-dipole interaction caclulation method
### (fft, fmm, cutoff, none)
ddi_method                 none

### DDI number of periodic images in (a b c)
ddi_n_periodic_images      4 4 4

### DDI cutoff radius (if cutoff is used)
ddi_radius                 0.0

# If set to 1 zero padding is performed even for periodic directions, if set to 0 it is skipped for peridodic directions (improves speed and memory footprint)
ddi_pb_zero_padding        1

### Pairs
n_interaction_pairs 3
i j   da db dc    Jij   Dij  Dijx Dijy Dijz
0 0    1  0  0   10.0   6.0   1.0  0.0  0.0
0 0    0  1  0   10.0   6.0   0.0  1.0  0.0
0 0    0  0  1   10.0   6.0   0.0  0.0  1.0

################ End Hamiltonian #################



################### Geometry #####################
### Lattice constant for basis and translations
lattice_constant 1.0

### The bravais lattice type
bravais_lattice sc

### Number of basis cells along principal
### directions (a b c)
n_basis_cells 100 100 1
################# End Geometry ###################



############### Logging Parameters ###############
### Levels of information
# 0 = ALL     - Anything
# 1 = SEVERE  - Severe error
# 2 = ERROR   - Error which can be handled
# 3 = WARNING - Possible unintended behaviour etc
# 4 = PARAMETER - Input parameter logging
# 5 = INFO      - Status information etc
# 6 = DEBUG     - Deeper status, eg numerical

### Print log messages to the console
log_to_console    1
### Print messages up to (including) log_console_level
log_console_level 5

### Save the log as a file
log_to_file    1
### Save messages up to (including) log_file_level
log_file_level 4
############# End Logging Parameters #############



################# MC Parameters ##################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
mc_max_walltime     0:0:0

### Seed for Random Number Generator
mc_seed             20006

### Number of iterations
mc_n_iterations     2000000
### Number of iterations after which to save
mc_n_iterations_log 2000

### Temperature [K]
mc_temperature      0

### Acceptance ratio
mc_acceptance_ratio 0.5

### Output configuration
mc_output_any     1
mc_output_initial 1
mc_output_final   1

mc_output_energy_step                  0
mc_output_energy_archive               1
mc_output_energy_spin_resolved         0
mc_output_energy_divide_by_nspins      1
mc_output_energy_add_readability_lines 1

mc_output_configuration_step     1
mc_output_configuration_archive  0
mc_output_configuration_filetype 3
############### End MC Parameters ################



################ LLG Parameters ##################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
llg_max_walltime        0:0:0

### Seed for Random Number Generator
llg_seed                20006

### Number of iterations
llg_n_iterations        2000000
### Number of iterations after which to save
llg_n_iterations_log    2000

### Temperature [K]
llg_temperature                      0
llg_temperature_gradient_direction   1 0 0
llg_temperature_gradient_inclination 0

### Damping [none]
llg_damping             0.3
### Non-adiabatic damping
llg_beta                0.1

### Time step dt
llg_dt                  1.0E-3

### Bools 0 = false || 1 = true
llg_renorm              1

### 0 = use the pinned monolayer approximation
### 1 = use the gradient approximation
llg_stt_use_gradient        0
### Spin transfer torque parameter proportional
### to injected current density
llg_stt_magnitude           0.0
### Spin current polarisation normal vector
llg_stt_polarisation_normal	1.0 0.0 0.0

### Force convergence parameter
llg_force_convergence   10e-9

### Output configuration
llg_output_any     1
llg_output_initial 1
llg_output_final   1

llg_output_energy_step                  0
llg_output_energy_archive               1
llg_output_energy_spin_resolved         0
llg_output_energy_divide_by_nspins      1
llg_output_energy_add_readability_lines 1

llg_output_configuration_step     1
llg_output_configuration_archive  0
llg_output_configuration_filetype 3
############## End LLG Parameters ################



################ GNEB Parameters #################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
gneb_max_walltime        0:0:0

gneb_spring_constant     1.0

### Bools 0 = false || 1 = true
gneb_renorm              1

### Number of GNEB Energy interpolations
gneb_n_energy_interpolations 10

### Force convergence parameter
gneb_force_convergence   1e-7

### Number of iterations and saves
gneb_n_iterations        200000
gneb_n_iterations_log    200

### Output configuration
gneb_output_any     1
gneb_output_initial 0
gneb_output_final   1

gneb_output_energies_step                  0
gneb_output_energies_interpolated          1
gneb_output_energies_divide_by_nspins      1
gneb_output_energies_add_readability_lines 1

gneb_output_chain_step     0
gneb_output_chain_filetype 3
############## End GNEB Parameters ###############



################ MMF Parameters ##################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
mmf_max_walltime        0:0:0

### Force convergence parameter
mmf_force_convergence   1e-7

### Number of iterations
mmf_n_iterations        200000
### Number of iterations after which to save
mmf_n_iterations_log    200

### Number of modes
mmf_n_modes         10
### Mode to follow
mmf_n_mode_follow   0

### Output configuration
mmf_output_any     1
mmf_output_initial 0
mmf_output_final   1

mmf_output_energy_step                  0
mmf_output_energy_archive               1
mmf_output_energy_divide_by_nspins      1
mmf_output_energy_add_readability_lines 1

mmf_output_configuration_step    0
mmf_output_configuration_archive 1
mmf_output_configuration_filetype 3
############## End MMF Parameters ################



################ EMA Parameters ##################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
ema_max_walltime        0:0:0

### Number of iterations
ema_n_iterations        200000
### Number of iterations after which to save
ema_n_iterations_log    200

### Number of modes
ema_n_modes         10
### Mode to visualize
ema_n_mode_follow   0

### Frequency of displacement
ema_frequency 0.02
### Amplitude of displacement
ema_amplitude 1

### Output configuration
ema_output_any     0
ema_output_initial 0
ema_output_final   0

ema_output_energy_step                  0
ema_output_energy_archive               1
ema_output_energy_divide_by_nspins      1
ema_output_energy_spin_resolved         0
ema_output_energy_add_readability_lines 1

ema_output_configuration_step     0
ema_output_configuration_archive  1
ema_output_configuration_filetype 3
############## End EMA Parameters ################