sudo: required
dist: trusty
language: cpp


cache:
  directories:
    - ${TRAVIS_BUILD_DIR}/deps/llvm-3.6.2
    - ${TRAVIS_BUILD_DIR}/deps/llvm-3.7.1
    - ${TRAVIS_BUILD_DIR}/deps/llvm-3.8.0
    - ${TRAVIS_BUILD_DIR}/deps/llvm-3.9.0


env:
  global:
    - secure: "IeryGzYD1DUkDjFgAscWGQIu7lebz+uN8xi42rWUwBqn8PUpJRoeniEd2/445CdGrX7G3YKDq4YMUFip0n1WyyjmzOQS2dUgJvH3+VU/rtGYoSF8SJkDGXvUl4OTTY0BMGM3+caOb9s91+ZW5C2536e/la0Ti37tu6xq+2URiOZ4ZIxaM+PBJPNJ/e8V9RXPGZxTAlNgpkKrAwv+lVYi7lxqLTTW+0Iu9jilzcAfvZ7tuFvsADNLJ+vEfYSerdeXeq0sma3ez1Z3q+pCyGBv35r/NIsgIH73i9eco0CVNkXmALOQMaw/zRxprHNZxegv0rsEP9/5IDgLXn61ZBOaIrF9Ywi0DTSHWnwoqC/R3XfOX4CXvhttbq6htTepKIfNFsW3SCBqTknil6eOObJaTIu77Y+dU/PpEOmlZI3wq7WKCeMIywNTgGyuTyctFF088XgpqH+ysYOTTN9TOk/U/W29DCT6yEFAuPx/MO24q+v9I5+uwrpIyCdpe2KVOdnIZnegAXYKWw9vjfQRn2n37RKCwkCTG+PWmMMxXgQwuvHzz9z/nV9MkoqbDSwf7pm7y5f+1ggaCBZeGD1Q9N6jx02dTdOeZ7HU9QDWan3YTdqNU1bAp6zDlO76heDOa9EZrRK56FbObFD+60Qm6+ZxzHX4DgS5Q0syOSWbHilKBMk="
    - secure: "WsRnpkAUCnsf4jjf519HlDCXMWObLiG8pm/dQp321LbjjADTcGRqfKRG2cFenK0hG2VrrdnzVWkK4qfzsdQX9OiSZvhqV5ZdVCpSHodhdPWfDxZM1jRJ/oXyjyaE+BwxWRl6Ve1SEbBLMOvdLEiMOt2YbiYE72Hwj5l7qWcVJxQ96L5S160gKA54Efz8ZaLO+lyy0QVh6gdK7DMFZDvFGICH1Yr93drPNFnWmWp3lvEdvomf3F/YCh4M5LMf3EbAjpUssj2r7We2UN6UaXwHfzYFLogOoLLLkrFYYhNgn1jj5rom8MOGj183bKW4jv9Czx7AhjwxRTLUXGKeTQdaaSrZ0t2+Xs4KoqseyT6uQUlE955SfZNdPsjsYrqXHbsC45waSsavlSdKHVLQ20gmY/e+kO982lIIbdrOKzZPjqq9SgI/b2ZdOv0st2ToQHLKbYUIWL8xPt/zA2IqRk0pT7tQgm3uvLB4P+/RAQxdvj7jHz4xXT8mmyHvajbvG4UvJGa9xwn5V58K+xFUxJKYiSDt68ALaFEogQsynkNgNT3xfbF5u/PWOYJ77gbELkg9ExGHCLBLJliVOhEu5sndq46EfSKlifxaG50aj4NKT8SFfykQjhQow/ygs0iqYcBfTM4BoBLVXCFp+yT5YGG+LgYVWq+Gtn51qGJxQYCoMCs="


matrix:
  include:
    # OSX, xcode 10
    - os: osx
      osx_image: xcode10
      env: CMAKE_OPTIONS="-DUSER_PATH_QT=~/usr/local/Cellar/qt/5.11.0" PYPI=true
    # Linux, GCC 6
    - os: linux
      env: COMPILER_C=gcc-6 COMPILER_CXX=g++-6 CMAKE_OPTIONS="-DUSER_PATH_QT=~/opt/qt57" PYPI=true
      compiler: g++
      addons:
        apt:
          packages:
          - g++-6
          - qt57base
          - qt57charts-no-lgpl
          - ca-certificates
          - python2.7
          sources:
          - sourceline: 'ppa:ubuntu-toolchain-r/test'
          - sourceline: 'ppa:beineri/opt-qt571-trusty'
          - sourceline: 'ppa:jonathonf/python-2.7'
    # Linux, GCC 5.1
    - os: linux
      env: COMPILER_C=gcc-5 COMPILER_CXX=g++-5 CMAKE_OPTIONS="-DUSER_PATH_QT=~/opt/qt57" PYPI=false
      compiler: g++
      addons:
        apt:
          packages:
          - g++-5
          - qt57base
          - qt57charts-no-lgpl
          - ca-certificates
          - python2.7
          sources:
          - sourceline: 'ppa:ubuntu-toolchain-r/test'
          - sourceline: 'ppa:beineri/opt-qt571-trusty'
          - sourceline: 'ppa:jonathonf/python-2.7'
    # # Linux, GCC 5.1 CUDA build
    # - os: linux
    #   env: COMPILER_C=gcc-5 COMPILER_CXX=g++-5 RUNTESTS=false USE_CUDA=true CMAKE_OPTIONS="-DUI_CXX_USE_QT=OFF -DSPIRIT_USE_CUDA=ON" PYPI=false
    #   compiler: g++
    #   addons:
    #     apt:
    #       packages:
    #       - g++-5
    #       - qt57base
    #       - qt57charts-no-lgpl
    #       sources:
    #       - sourceline: 'ppa:ubuntu-toolchain-r/test'
    #       - sourceline: 'ppa:beineri/opt-qt571-trusty'
    # Linux, GCC 6 OpenMP build
    - os: linux
      env: COMPILER_C=gcc-6 COMPILER_CXX=g++-6 OMP_NUM_THREADS=4 CMAKE_OPTIONS="-DUI_CXX_USE_QT=OFF -DSPIRIT_USE_OPENMP=ON" PYPI=false
      compiler: g++
      addons:
        apt:
          packages:
          - g++-6
          - qt57base
          - qt57charts-no-lgpl
          - ca-certificates
          - python2.7
          sources:
          - sourceline: 'ppa:ubuntu-toolchain-r/test'
          - sourceline: 'ppa:beineri/opt-qt571-trusty'
          - sourceline: 'ppa:jonathonf/python-2.7'
    # Linux, GCC 6 pinning and defects build
    - os: linux
      env: COMPILER_C=gcc-6 COMPILER_CXX=g++-6 CMAKE_OPTIONS="-DUI_CXX_USE_QT=OFF -DSPIRIT_ENABLE_PINNING=ON -DSPIRIT_ENABLE_DEFECTS=ON" PYPI=false
      compiler: g++
      addons:
        apt:
          packages:
          - g++-6
          - qt57base
          - ca-certificates
          - python2.7
          sources:
          - sourceline: 'ppa:ubuntu-toolchain-r/test'
          - sourceline: 'ppa:beineri/opt-qt571-trusty'
          - sourceline: 'ppa:jonathonf/python-2.7'
    # Linux, GCC 6 coverage build
    - os: linux
      env: COMPILER_C=gcc-6 COMPILER_CXX=g++-6 CMAKE_OPTIONS="-DUI_CXX_USE_QT=OFF -DSPIRIT_TEST_COVERAGE=ON" PYPI=false COVERAGE=true RUNTESTS=false
      compiler: g++
      addons:
        apt:
          packages:
          - g++-6
          - lcov
          - qt57base
          - ca-certificates
          - python2.7
          sources:
          - sourceline: 'ppa:ubuntu-toolchain-r/test'
          - sourceline: 'ppa:beineri/opt-qt571-trusty'
          - sourceline: 'ppa:jonathonf/python-2.7'

    # - compiler: clang
    #   addons:
    #     apt:
    #       sources:
    #         - ubuntu-toolchain-r-test
    #         - llvm-toolchain-precise-3.6
    #       packages:
    #         - clang-3.6
    #   env: COMPILER=clang++-3.6
    # - compiler: clang
    #   addons:
    #     apt:
    #       sources:
    #         - ubuntu-toolchain-r-test
    #         - llvm-toolchain-precise-3.7
    #       packages:
    #         - clang-3.7
    #   env: COMPILER=clang++-3.7


before_install:
  - python --version
  - if [ "$TRAVIS_OS_NAME" != "osx" ]; then sudo pip uninstall -y six chardet pyOpenSSL; fi
  - sudo pip install --upgrade pip six pyOpenSSL
  - sudo pip install wheel numpy urllib3==1.23 twine coveralls
  # Run homebrew on osx
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update; fi
  # Setup default versions and override compiler if needed
  - if [[ "${LLVM_VERSION}" == "default" ]]; then LLVM_VERSION=3.9.0; fi
  # Install a recent CMake (unless already installed on OS X)
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
      mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}
      CMAKE_URL="http://www.cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
      export CC=${COMPILER_C} CXX=${COMPILER_CXX}
      source /opt/qt57/bin/qt57-env.sh
    else
      if ! brew ls --version cmake &>/dev/null; then brew install cmake; fi
      brew install cppcheck qt
      brew link --force qt
      export PATH=/usr/local/opt/qt/bin:${PATH}
    fi
  # Install CUDA
  - |
    if [[ "$USE_CUDA" == "true" ]]; then
      export CUDA=8.0.61-1
      # get cuda-repo-ubuntu1404
      travis_retry wget http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1404/x86_64/cuda-repo-ubuntu1404_${CUDA}_amd64.deb
      travis_retry sudo dpkg -i cuda-repo-ubuntu1404_${CUDA}_amd64.deb
      # install
      travis_retry sudo apt-get update -qq
      export CUDA_APT=${CUDA:0:3}
      export CUDA_APT=${CUDA_APT/./-}
      travis_retry sudo apt-get install -y cuda-drivers cuda-core-${CUDA_APT} cuda-cudart-dev-${CUDA_APT} cuda-curand-dev-${CUDA_APT} cuda-cufft-dev-${CUDA_APT}
      travis_retry sudo apt-get clean
      # export
      export CUDA_HOME=/usr/local/cuda-${CUDA:0:3}
      export LD_LIBRARY_PATH=${CUDA_HOME}/lib64:${LD_LIBRARY_PATH}
      export PATH=${CUDA_HOME}/bin:${PATH}
      export CMAKE_OPTIONS="${CMAKE_OPTIONS} -DCMAKE_C_COMPILER=${COMPILER_C} -DCMAKE_CXX_COMPILER=${COMPILER_CXX} -DCUDA_TOOLKIT_ROOT_DIR=${CUDA_HOME}"
      ls -a ${CUDA_HOME} ${CUDA_HOME}/bin ${CUDA_HOME}/include
    fi


install:
  # Build everything
  - cd ${TRAVIS_BUILD_DIR}
  - |
    mkdir -p build
    cd build
    cmake ${CMAKE_OPTIONS} ..
    cd ..
  - if [ "$USE_CUDA" != "true" ]; then ./make.sh -j2; else ./make.sh; fi


before_script:
  # Test everything
  # Do not run this section if flag was set to false
  - if [ "$RUNTESTS" != "false" ]; then ./ctest.sh; fi


script:
  # Build the python package
  - echo "Python package build"
  - if [ "$TRAVIS_BRANCH" != "master" ]; then export SPIRIT_ADD_VERSION_SUFFIX=true; else export SPIRIT_ADD_VERSION_SUFFIX=false; fi
  - echo "Add suffix to spirit version tag for python package $SPIRIT_ADD_VERSION_SUFFIX"
  - cd core/python
  - python setup.py sdist bdist_wheel;

  # Specify account details for PyPI
  - echo "[distutils]"                                 > ~/.pypirc
  - echo "index-servers ="                            >> ~/.pypirc
  - echo "    testpypi"                               >> ~/.pypirc
  - echo "    pypi"                                   >> ~/.pypirc
  - echo "[pypi]"                                     >> ~/.pypirc
  - echo "repository=https://upload.pypi.org/legacy/" >> ~/.pypirc
  - echo "username=$PYPIUSER"                         >> ~/.pypirc
  - echo "password=$PYPIPASSWORD"                     >> ~/.pypirc
  - echo "[testpypi]"                                 >> ~/.pypirc
  - echo "repository=https://test.pypi.org/legacy/"   >> ~/.pypirc
  - echo "username=$PYPIUSER"                         >> ~/.pypirc
  - echo "password=$PYPIPASSWORD"                     >> ~/.pypirc

  # Publish python package
  - echo "PYPI deployment:"
  - if [ "$PYPI" != "true" ]; then echo "Not going to deploy because not configured to."; fi
  # Do not build pull requests
  - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then echo "Not going to deploy because pull request."; fi
  - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then PYPI=false; fi
  # Upload to pypi on master commits (if PYPI == true)
  - if [ "$PYPI" == "true" ] && [ "$TRAVIS_BRANCH" == "master" ]; then echo "Deploying to pypi because on master branch."; else echo "Not deploying to pypi."; fi
  - if [ "$PYPI" == "true" ] && [ "$TRAVIS_BRANCH" == "master" ]; then twine upload --skip-existing -r pypi dist/*; fi
  # Upload to testpypi on all commits (if PYPI == true)
  - if [ "$PYPI" == "true" ]; then echo "Deploying to testpypi."; else echo "Not deploying to testpypi."; fi
  - if [ "$PYPI" == "true" ]; then twine upload --skip-existing -r testpypi dist/*; fi

  # Don't run coverage on branches other than master or develop (or pull requests targeting those)
  - if [ "$TRAVIS_BRANCH" != "master" ] && [ "$TRAVIS_BRANCH" != "develop" ]; then COVERAGE=false; fi

  # Run C++ coverage report generation and upload to codecov
  - cd ../../build
  - if [ "$COVERAGE" == "true" ]; then lcov -c -i --no-external --directory . --base-directory ../core -o baseline.info; fi
  - if [ "$COVERAGE" == "true" ]; then make test; fi
  - if [ "$COVERAGE" == "true" ]; then lcov -c --no-external --directory . --base-directory ../core -o after_test.info; fi
  - if [ "$COVERAGE" == "true" ]; then lcov -a baseline.info -a after_test.info -o total_test.info; fi
  - if [ "$COVERAGE" == "true" ]; then lcov -r total_test.info \*thirdparty\* \*/test/\* \*Collection\* \*DLL_\* -o coverage.info; fi
  - if [ "$COVERAGE" == "true" ]; then bash <(curl -s https://codecov.io/bash) -f coverage.info || echo "Codecov did not collect coverage reports"; fi

  # Run Python coverage report generation and upload to coveralls
  - cd ../core/python
  - if [ "$COVERAGE" == "true" ]; then coverage run --source spirit --omit=spirit/spiritlib.py,spirit/collection.py setup.py test > cov.txt; fi
  - if [ "$COVERAGE" == "true" ]; then head cov.txt; fi
  - if [ "$COVERAGE" == "true" ]; then coverage report -m; fi
  - if [ "$COVERAGE" == "true" ]; then coverage xml; fi
  - if [ "$COVERAGE" == "true" ]; then coveralls; fi