html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}
body, body > div{
  display: flex;
  flex-direction: column;
}
#visualization-container {
    background-color:#777777;
    position:relative;
    padding:0;
}

#webgl-canvas {
  position: absolute;
  width:100%;
  height:100%;
  margin:0;
}

#webgl-controls {
  position: absolute;
  bottom:0;
  left:50%;
  width:360px;
  height:50px;
  margin-left: -180px;
  padding:0;
  text-align: center;
}

#webgl-controls > i {
  position:relative;
  width:50px;
  height:50px;
  font-size:50px;
  color:#999999;
  opacity:0.9;
  cursor: pointer;
  z-index: 1;
}
#webgl-controls > i:hover, #webgl-controls > i:focus, #webgl-controls > i:active {
  opacity:0.75;
}

#webgl-controls > span.spacer-25 {
  position:relative;
  width:25px;
  height:0;
  z-index: 1;
  display:inline-block;
  margin:0;
  padding:0;
}

#webgl-extended-controls {
  position: absolute;
  bottom: 75px;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  padding: 10px;
  text-align: center;
  background-color:white;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
#webgl-extended-controls.hidden {
  display:none;
}
#webgl-extended-controls > div{
  background-color:rgba(255, 255, 255, 0.6);
  color:black;
  border-radius: 3px;
  border:1px solid black;
}

#settings-container {
  padding:0.5em;
  border-left:1px solid #BBBBBB;
}

@media (min-width: 768px) {
  body > div {
    flex-direction: row;
    flex: 1;
  }
  #visualization-container {
    flex: 1;
  }
  #settings-container {
    flex: 0 0 325px;
    overflow-y:scroll;
  }
  #settings-container > * {
    height:0;
  }
}

@media (max-width: 767px) {
  #visualization-container {
    height:100vh;
  }
}